body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9f8;
    color: #1a3c2c;
    
}

h2, h3, h4 {
    color: #14532d; 
}

header {
    background-color: #14532d !important;
    color: white;
}

footer {
    background-color: #1a3c2c;
    color: #e6f2e9;
}

.card {
    background: white;
    border-left: 5px solid #1a3c2c;
    border-radius: 10px;
}

.btn-green {
    background-color: #198754; /* Bootstrap's green */
    color: white;
    border: none;
}

    .btn-green:hover {
        background-color: #146c43;
        color: white;
    }

.btn-outline-green {
    border: 2px solid #198754;
    color: #198754;
    background: none;
}

    .btn-outline-green:hover {
        background-color: #198754;
        color: white;
    }
