<div class="alert bg-success bg-opacity-10 border border-success text-success text-center">


    <strong>Product not found</strong><br />
    Please check the serial number and try again.
    <br />
    <button class="btn btn-outline-green mt-3" onclick="resetSearch()"><i class="fas fa-arrow-left"></i> Back</button>

</div>
